<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Real-Time Polling App ARAR{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Real-Time Polling App ARAR</h1>
        <nav>
          
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; {{ year }} Real-Time Polling App. All rights reserved.</p>
    </footer>
</body>
</html>